.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 392px;
  max-width: 274px;
  padding: 28px;
}

.img {
  height: 192px;
  width: 274px;
  background-color: #dadada;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.product-name,
.price,
.rating {
  margin: 0;
}

.product-name {
  font-weight: 500;
}

.price {
  margin: 5% 0;
  font-weight: 700;
}

.rating {
  font-weight: 300;
  font-size: 0.9rem;
}

.btn {
  align-self: center;
  height: 28px;
  width: 136px;
}
