.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 10%;
  min-height: 320px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url('./shop-hero.jpg');
  background-position: center;
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
}

.shop {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 12%;
}

.total {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 50px 0 36px 0;
}

.categories {
  flex: 0.5;
  border-right: solid #cacaca 1px;
  padding-right: 12px;
}

.category-title {
  font-size: 1.3rem;
}

.category-links {
  color: #727272;
}

.category-links > p {
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
}

.category-links > p:hover {
  cursor: pointer;
  background-color: #dadada;
  color: #212227;
}

.products {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.catalog {
  flex: 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
}
