html {
  scroll-behavior: smooth;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 10%;
  min-height: 320px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url('./shop-hero.jpg');
  background-position: center;
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
}

.shop {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 12%;
}

.total {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 50px 0 36px 0;
}

.categories {
  flex: 0.5;
  border-right: solid #cacaca 1px;
  padding-right: 12px;
}

.category-title {
  font-size: 1.3rem;
}

.category-links {
  color: #727272;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-btn {
  font-weight: 600;
  font-size: 1rem;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
  color: #727272;
}

.category-btn:hover {
  cursor: pointer;
  background-color: #dadada;
  color: #212227;
}

.clear-filter-btn {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 4px;
  border-radius: 6px;
  border: #ff7979 solid 1px;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
  color: #ff7979;
  margin-top: 24px;
  align-self: center;
}
.clear-filter-btn:hover {
  cursor: pointer;
  background-color: #ff7979;
  color: #fff;
  border: #ff7979 solid 1px;
}

.products {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.catalog {
  flex: 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
}

.page-component {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 24px 0 24px 0;
}
