button:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}

.ellipsis {
  display: flex;
  align-self: center;
}

.page-btn {
  border: none;
  background-color: #fff;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.active {
  background-image: linear-gradient(45deg, #8367c7, #336dff);
  color: #fff;
  border: none;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.page-btn:hover {
  background-color: #e6e6e6;
}
