.hero-container {
  display: flex;
  min-height: calc(100vh - 60px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 80px;
}

.secondary-info-container {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.about-us-container {
  margin: 200px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.hero-text,
.hero-img,
.secondary-text,
.about-us-paragraph {
  max-width: 580px;
}
