.error-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #212227;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}
